<div class="page-container">
    
    <div class="button-container">
        <div class="page-title">Nanny Time App</div>
        <button mat-raised-button 
        [ngClass]="{'arthur-button' : !ArthurClockedIn(),'arthur-start-button' : ArthurClockedIn()}" 
        (click)="ToggleArthur()">{{ArthurText}}</button>
        <button mat-raised-button [ngClass]="{'emilia-button' : !EmiliaClockedin(),'emilia-start-button' : EmiliaClockedin()}" 
        (click)="ToggleEmilia()">{{EmiliaText}}</button>
    </div>
</div>
